{% extends "base.html" %}

{% block content %}
<div style="transform: translate(30%, 5%)">
    <p>Hi, my name is JAY SARDAR.</p><br>
    <p>I made this site for practise purpose and also to showcase my skills.</p>
    <a href="https://github.com/Blue-berd/Django-Rest-Api.git">Github Source code</a><br><br>
    <h2>Features of this site</h2><br>
    <ol>
        <li>It has autocomplete Feature for field of Ifsc</li>
        <li>It has full text search feature. You can type half name and it will show results</li>
        <li>The api can be accesed through mobile app as well</li>
        <li>It has dropdown menu to use</li>
        <li>The api root is created by using Django-rest-framework</li>
        <li>Api has features like pagination, sort, search field</li>
        <li>It has Dynamic urls meaning it can work on any compatible device without changing urls</li>
    </ol>
</div>
{% endblock %}